<nav >
    {{#if prev}}
        <a href="{{page_url prev}}"><span aria-hidden="true">&larr;</span>{{t "Newer Posts"}}</a>
    {{/if}}
    <span >{{t "Page {page} of {pages}"}}</span>
    {{#if next}}
        <a href="{{page_url next}}">{{t "Older Posts"}} <span aria-hidden="true">&rarr;</span></a>
    {{/if}}
</nav>