<div>
    <div>
        {{#prev_post}}
            <a  href="{{url}}">
                <span {{t "Previous"}}</span>
                <h4 {{title}}</h4>
            </a>
        {{/prev_post}}
        {{#next_post}}
            <a href="{{url}}">
                <span >{{t "Next"}}</span>
                <h4 {{title}}</h4>
            </a>
        {{/next_post}}
    </div>
</div>