<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{asset "built/styles.css"}}">
    <script src="{{asset "js/theme/color-modes.js"}}"></script>

    {{ghost_head}}
</head>

<body data-bs-theme="auto">
    <!-- Responsive navbar-->
    {{> "icons/theme"}}
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{{@site.url}}">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    {{@site.title}}
                {{/if}}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {{navigation}}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <button class="border-0 bg-transparent"data-ghost-search>{{> "icons/search"}}</button>
                {{> theme}}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page header with logo and tagline-->
    <header class="d-md-flex align-items-md-center pb-3 mb-5 border-bottom">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Welcome to Blog Home!</h1>
                <p class="lead mb-0">A Bootstrap 5 starter layout for your next blog homepage</p>
            </div>
        </div>
    </header>
    <!-- Page content -->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            {{#is "home"}}
                <div class="col-lg-8 align-items-stretch">
                    {{{body}}}
                </div>
                {{> "widgets/side"}}
            {{else}}
                <div class="col-lg-2">
                    XXXX
                </div>
                <div class="col-lg-8">
                    {{{body}}}
                </div>
                <div class="col-lg-2">
                    XXXX
                </div>
            {{/is}}
        </div>
    </div>

    <!-- Footer-->
    <footer class="py-3">
        <div class="container"><p class="m-0 text-center">Copyright &copy; {{date format="YYYY"}}</p></div>
    </footer>
    {{#is "post, page"}}
        {{> "pswp"}}
    {{/is}}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" ></script>

    <script type="module" src="{{asset "built/main.min.js"}}"></script>

    {{ghost_foot}}
</body>
</html>