{{!< default}}

<main>
    <div class="card mb-4 border-0">
    {{#post}}

    <article class="{{post_class}}">

        <header class="">

            <h1 class="h3 text-center">{{title}}</h1>



            {{#if feature_image}}
                {{#if featured}}
                    <img
                        class="post-image u-object-fit"
                        src="{{img_url feature_image}}"
                        alt="{{title}}"
                        loading="lazy"
                    >
                {{else}}
                    <figure class="post-media">
                        <div class="u-placeholder same-height rectangle">
                            <img
                                class="post-image u-object-fit"
                                srcset="{{img_url feature_image size="s"}} 400w,
                            {{img_url feature_image size="m"}} 750w,
                            {{img_url feature_image size="l"}} 960w,
                            {{img_url feature_image size="xl"}} 1140w,
                            {{img_url feature_image size="xxl"}} 1920w"
                                sizes="600px"
                                src="{{img_url feature_image size="l"}}"
                                alt="{{title}}"
                                loading="lazy"
                            >
                        </div>
                    </figure>
                {{/if}}
            {{/if}}

            <span {{#if primary_tag.accent_color}} style="--tag-color: {{primary_tag.accent_color}};"{{/if}}>
                {{#primary_author}}{{t "Posted by"}} <a href="{{url}}">{{name}}</a> {{/primary_author}}
                {{#if primary_tag}}
                    {{t "Tag"}} <a href="{{primary_tag.url}}">{{primary_tag.name}}</a>
                {{/if}}
                —
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
            </span>

            {{#if custom_excerpt}}
                <p>{{custom_excerpt}}</p>
            {{/if}}


        </header>

        <div>
            {{content}}
        </div>

    </article>

    {{> "post-navigation"}}

    <div>
        {{#match @custom.comment_system "ghost"}}
            {{comments}}
        {{else match @custom.comment_system "giscus"}}
            {{> giscus}}
        {{else match @custom.comment_system "artalk"}}
            {{> artalk}}
        {{else}}
        {{/match}}
    </div>

    {{/post}}

    {{#if @custom.show_related_posts}}
        {{> "related-posts"}}
    {{/if}}
    </div>
</main>