{{!< default}}

<main class="site-main">

    {{#post}}

    <article class="gh-article {{post_class}}">

        <header class="gh-article-header gh-canvas">

            <h1 class="gh-article-title">{{title}}</h1>

            <span class="gh-article-meta"{{#if primary_tag.accent_color}} style="--tag-color: {{primary_tag.accent_color}};"{{/if}}>
                {{#primary_author}}{{t "Posted by"}} <a href="{{url}}">{{name}}</a> {{/primary_author}}
                {{#if primary_tag}}
                    {{t "Tag"}} <a class="gh-article-tag" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
                {{/if}}
                —
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
            </span>

            {{#if custom_excerpt}}
                <p class="gh-article-excerpt">{{custom_excerpt}}</p>
            {{/if}}

            {{> "post-image"}}
        </header>

        <div class="gh-content gh-canvas">
            {{content}}
        </div>

    </article>

    {{> "post-navigation"}}

    <div class="gh-comments gh-canvas">
        {{#match @custom.comment_system "ghost"}}
            {{comments}}
        {{else match @custom.comment_system "giscus"}}
            {{> giscus}}
        {{else match @custom.comment_system "artalk"}}
            {{> artalk}}
        {{else}}
        {{/match}}
    </div>

    {{/post}}

    {{#if @custom.show_related_posts}}
        {{> "related-posts"}}
    {{/if}}

</main>